<!DOCTYPE html>
<html>

<head>
	<title>Learn Vue Js</title>
	<style>
		.red {
			border: 2px solid red;
		}

		.green {
			border: 2px solid green;
		}
	</style>
</head>

<body>
	<div id="root">
		{{ kittifyName }}
		<input type="text" name="newCat" v-model="newCat" @keyup.enter="addKittens">
		<button @click="addKittens">+ ADD </button>
		<ul>
			<li v-for="cat in cats">{{ cat.name | personalize | capitalize }}</li>
		</ul>
		<catlist :cats="cats" />
	</div>


	<script type="text/javascript" src="../vue/assets/js/vue-downloads.js"></script>

	<script>
		Vue.component('catlist', {
			props: ['cats'],
			template: `<div>
					<ul>
						<li v-for="cat in cats">{{ cat.name }}</li>
					</ul>
				</div>`
		})

		const root = new Vue({
			el: "#root",
			component: [
				'catlist'
			],
			data: {
				cats: [{
						name: 'Ann'
					},
					{
						name: 'Karimi'
					},
					{
						name: 'Laura'
					},
					{
						name: 'henry'
					},
					{
						name: 'Daniel'
					},
					{
						name: 'Stephanie'
					}
				],
				newCat: ''
			},
			methods: {
				addKittens: function () {
					this.cats.push({
						name: this.newCat
					})
					this.newCat = "";
				}
			},
			computed: {
				kittifyName: function () {
					if (this.newCat.length > 1) {
						return this.newCat + "y"
					}
				}
			},

			filters: {
				capitalize: function (value) {
					return value.toUpperCase()
				},
				personalize: function (value) {
					return value + "Y";
				}
			}
		})
	</script>
</body>

</html>